@model _29_PhamThiNgocMai_Assignment3.Models.AppUser

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            @* <form asp-action="Login" method="post"> *@
            @*     <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
            @*     <div class="form-group"> *@
            @*         <label asp-for="@Model.Email" class="control-label">Email</label> *@
            @*         <input asp-for="@Model.Email" class="form-control"/> *@
            @*         <span asp-validation-for="@Model.Email" class="text-danger"></span> *@
            @*     </div> *@
            @*     <div class="form-group"> *@
            @*         <label asp-for="@Model.Password" class="control-label">Password</label> *@
            @*         <input asp-for="@Model.Password" type="password" class="form-control"/> *@
            @*         <span asp-validation-for="@Model.Password" class="text-danger"></span> *@
            @*     </div> *@
            @*     <div class="form-group"> *@
            @*         <input type="submit" value="Login" class="btn btn-primary"/> *@
            @*     </div> *@
            @* </form> *@

            <div class="card-body">
                @using (Html.BeginForm("Login", "Authen", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
            
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Login"/>
                    </div>
                }
            </div>

            @if (@TempData["error"] != null)
            {
                <p class="alert alert-danger" role="alert">@TempData["error"]</p>
            }
        </div>
    </div>
</div>